//--------COLOR-----
$color-red: #e74c3c;
$color-gray: #999;
$color-gray-dark: #6a6a6a;
$color-bg: #f4f5f9;
$color-bg-black: #202020;
//--------COLOR-end-----

//----text-size----
$font-h2: 2.4em;
//----text-size-end---



//------margin----
$padding-block: 9.5em;
$page-header--bottom: 4.5em;
//------margin-end-




// ------BTN-----
$btn-big-w: 16.8em;
$btn-big-h: 4.2em;

$btn-mid-w: 13.2em;
$btn-mid-h: 4.3em;

$btn-small-w: 11em;
$btn-small-h: 3.8em;


$btn-form-w: 11.8em;
$btn-form-h: 3.5em;
// ------BTN-End----