.button {
  @include btn-size($btn-big-w, $btn-big-h);
  background: 0 0;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 0.2em;
  font-weight: 700;
  background: transparent;
  cursor: pointer;
  border: 1px solid transparent;
  box-shadow: 0px 7px 5px -4px rgba(0, 0, 0, 0.1);

  &:hover, &:focus  {
    background-color: $color-red;
    border: 1px solid transparent;
  }
}

.button--big {
  margin: 24px 14px 18px;
  @extend .button;
  border: 1px solid #fff;

  &:hover, &:focus {
    border: 1px solid $color-red;
  }
}

.button--middle {
  @extend .button;
  @include btn-size($btn-mid-w, $btn-mid-h);
  background-color: $color-red;
  border: 1px solid $color-red;

  &:hover, &:focus {
    background-color: $color-gray;
    border: 1px solid $color-gray;

  }
}

.button--small {
  @extend .button;
  @include btn-size($btn-small-w, $btn-small-h);
  background-color: $color-gray;
  border: 1px solid $color-gray;
  outline: none;

  &:hover, &:focus{
    background-color: $color-red;
    border: 1px solid $color-red;
  }
}


.button--form {
  @extend .button;
  @include btn-size($btn-form-w, $btn-form-h);
  background-color: $color-red;
  border: 1px solid $color-red;

  &:hover, &:focus {
    background-color: $color-gray;
    border: 1px solid $color-gray;
  }
}

.span-scroll {
  display: block;
  text-align: center;
  position: relative;
  z-index: 1;
  margin: auto;
  position: absolute;
  top: -20px;
  right: 5%;
  cursor: pointer;

  .fa-chevron-up {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    background-color: $color-red;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
    left: 1815px;
    top: 11200px;
    width: 53px;
    height: 53px;

    &:hover{
      color: $color-red;
      background-color: $color-gray;
    }


  }
}