 <!DOCTYPE html>
 <html lang="ru">
 //= includes/head.html

 <body>
 	<div class="body-wrapper">
 		//= ../blocks/header/header.html
 		//= ../blocks/features/features.html
 		//= ../blocks/history/history.html
 		//= ../blocks/services/services.html
 		//= ../blocks/work/work.html
 		//= ../blocks/study/study.html
 		//= ../blocks/catalog/catalog.html
 		//= ../blocks/pricing/pricing.html
 		//= ../blocks/team/team.html
 		//= ../blocks/blog/blog.html
 		//= ../blocks/touch/touch.html
 		//= ../blocks/footer/footer.html
 	</div>
 	//= includes/scripts.html
 </body>

 </html>