.header {
  &-container {
    padding-top: 2.4em;
    background-image: url("../images/header-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    z-index: 1;
    overflow: hidden;


    .fullscreen-bg__video {
      @media (max-width: 1500px) {
        display: none;
      }

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      z-index: -100;

    }

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: -1;

      @media (max-width: 1500px) {
        background-color: rgba(0, 0, 0, 0.6);
      }
    }
  }

  &-logo__wrapper{
    cursor: pointer;
  }

  &__box--nav {
    display: flex;
    align-items: center;
  }

  &__box--content {
    padding-top: 19.4%;

    @media screen and (max-width: 1280px) {
      padding-top: 10%;
    }

    @media screen and (max-width: 812em) and (max-height: 414px) {
      padding-top: 0;
    }

    @media screen and (max-width: 780px) {
      padding-top: 5%;
    }
  }

  &__content {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  &__subtitle {
    color: #fff;
    font-size: 1.1vmax;
    letter-spacing: 1.2px;
    word-wrap: break-word;

    @media screen and (max-width: 1280px) {
      font-size: 2vmax;
    }

    @media screen and (max-width: 1280px) {
      font-size: 1.1em;
    }
  }

  &__title {
    color: #fff;
    margin-top: 1.5%;
    font-size: 3.8vmax;
    word-wrap: break-word;
    font-weight: 700;
    letter-spacing: 4px;
    word-spacing: 5px;
  }

  &__text {
    color: #fff;
    @include text-core;
    margin: 1% auto 3.8%;
    width: 50%;

    @media screen and (max-width: 1000px) {
      width: 100%;
    }
  }

  &-next {
    @media screen and (max-width: 812em) and (max-height: 414px) {
      display: inline-block;
    }

    cursor: pointer;
    display: none;
    padding: 5px;
    color: $color-red;
  }

  &-close {
    cursor: pointer;
    display: none;
    padding: 5px;
    font-weight: bold;
    color: $color-red;
  }

  &__text--hidden {
    @media screen and (max-width: 812em) and (max-height: 414px) {
      display: none;
    }

  }

  &-bottom {
    z-index: 1;
    display: flex;
    position: absolute;
    bottom: 0%;
    left: calc(50% - 2.3em);
  }

  .bottom-item--center {
    display: block;
    text-align: center;
    position: relative;
    z-index: 1;
    margin: auto;

    .fa-anchor {
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #e74c3c;
      font-size: 1.8em;
      position: relative;
      height: 2.3em;
      width: 2.3em;
      border-radius: 50%;
      background-color: #f4f5f9;
      box-shadow: 0 0 0 0.2em rgba(255, 255, 255, 0.5);

    }

  }

  // .bottom-item--left {
  //   background: 0 0;
  //   padding-bottom: 2%;
  //   width: calc(50% - 1.25em);
  //   position: relative;
  //   height: 0;
  //   overflow: hidden;
  //   background: 0 0;

  //   &::before {
  //     position: relative;
  //     content: "";
  //     display: block;
  //     width: 0;
  //     height: 0;
  //     border-right: 1500px solid transparent;
  //     border-bottom: 40px solid #fff;
  //     z-index: 1;
  //   }



  // }

  // .bottom-item--right {
  //   background: 0 0;
  //   padding-bottom: 2%;
  //   width: calc(50% - 1.25em);
  //   position: relative;
  //   height: 0;
  //   overflow: hidden;
  //   background: 0 0;

  //   &::after {
  //     position: relative;
  //     content: "";
  //     display: block;
  //     width: 0;
  //     height: 0;
  //     border-right: 1200px solid transparent;
  //     border-bottom: 40px solid #fff;
  //     z-index: 1;
  //   }
  // }
}

.span {
  margin: 2.2% auto;
  position: relative;
  display: block;
  width: 7px;
  height: 7px;
  background: $color-red;
  border-radius: 50%;

  &::before {
    position: absolute;
    content: "";
    margin-left: 15px;
    left: 100%;
    top: calc(50% - 0.5px);
    width: 80px;
    height: 1px;
    background: #fff;
  }

  &::after {
    position: absolute;
    content: "";
    right: 100%;
    margin-right: 15px;
    top: calc(50% - 0.5px);
    width: 80px;
    height: 1px;
    background: #fff;
  }
}

.menu {
  width: 100%;

  @media screen and (min-width: 783px) {
    display: block !important;
  }

  &__list {
    margin-left: auto;
    max-width: 69.5%;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1000px) {
      max-width: 80%;
    }

  }

  &__link {
    display: block;
    color: #fff;
    font-weight: 700;
    box-sizing: border-box;
    padding: 1.4em 0;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover {
      box-sizing: border-box;
      color: $color-red;
      border-bottom: 1px solid $color-red;
    }
  }
}

#toggle {
  display: none;

  @media screen and (max-width: 780px) {
    display: block;
    margin-left: auto;
    margin-right: 5%;
    text-align: center;
    padding-top: 16px;
    align-self: flex-start;
  }
}

.fa-toggle-on {
  font-size: 2em;
}

.open {
  color: $color-red;
  transform: rotate(180deg);
}

@media screen and (max-width: 812em) and (max-height: 414px) {
  header .button--big {
    margin: 0;
  }
}

@media screen and (max-width:800px) {

  .menu__item:nth-child(5) {
    display: none;
  }
}



@media screen and (max-width:780px) {
  .menu {
    display: none;
  }

  .menu__list {
    max-width: 95%;
    margin-right: auto;
  }

}

@media screen and (max-width:560px) {
  .menu__list {
    font-size: 0.8em;
    flex-direction: column;
  }

  .menu__link {
    padding: 0.5em;
  }

  header .button--big {
    margin: {
      top: 5px;
      left: 4px;
      right: 4px;
      bottom: 5px;
    }
  }
}